
/*

1st color:  #4CA8E5;
2nd color:#8A99F5 ;
3rd color : #FDEECF ;
*/

.owl-carousel{
  position: relative;
  
}

..posit{
  position: relative;
}
.padpad{
  padding-top: 15px;
}
.mainContent{
  z-index: 44;
  position: absolute;

  left:0; 
  right:0;

 border: 3px solid rgba(5, 66, 66,.3);
 background-color: white;
 border-radius: 15px;

}

.fuu{
  position: relative;
}

.fixed{
  background-color: black;
}
.panel{
  background-color: #EEFFFF;                     //p2
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}


.pan{

  background-color: #EEFFFF; 
}

.padTop{
 padding-top: 20px;
}

.padBottom{
 padding-bottom: 20px !important;
}

.top-bar {
    position: relative;
    z-index: 10000;
}


.top-bar li a:hover {
  background: #002200 ;                          //p3
  border:1px solid #054242;                        //p1
} 


.uy li a:hover {
  background: #DFFEFE !important;                             //p3
  border:1px solid #054242;  
  
} 

.uy a :hover{
  color: #054242 !important;
}

.vv li a:hover {
  background: #EEFFFF;   
                           //p2
  border:1px solid #054242;                        //p1
} 


/*.vv{
   position: relative;
    z-index: 100;
}
.vv :first-child li a {
   
    z-index: 1000 !important;
}
.vv  :not(:first-child) li a{
  
    z-index: 1300 !important;
}
*/
.v1 {
     position: relative;
    z-index: 1300 !important;
}


.v2 {
  position: relative;
    z-index: 130 !important ;
}
.zz li a{
  color:#065234;  //p1
  
}

.developer{
  color: #EEFFFF; 
}

.brand a{
  font-weight: 600;
  font-size: large;
  color: green;
  padding: 5px;
}

.brand  a:hover{
  background-color: rgba(5, 66, 66 ,.4);;
  
}

.topbarPa{
  margin-right: 15px;
}
.contain-to-grid .top-bar {
    min-height: 3.5rem;
    margin: 0 auto;
    padding-top: .5rem;
}


.border{
  border:2px solid rgba(0%,40%,60%,.3);
   margin-top: 1.7rem;
  padding: 20px;
}

.p1{
  color: #054242;
}

.p2{
   color: #EEFFFF; 
}


.p3{
   color:  #006699;  
}


.marginBottom{
  margin-bottom: 20px;
}

.checkText{
  font-size: 110%;
  color: grey;

}

.actv{
  color: green;
  border-bottom: 2px solid green;
}

.shopCatag{
//  border-right: 1px solid grey;

}
.gigg-social{
  text-align: center;
  font-size: xx-large;
}

.gigg-pro-img {
  height:100px;
  width: 100px;
  margin-bottom: 15px;
  border-radius: 20%;
}


.categoryTitle{
    position: absolute;
    z-index:3;
    top:17%; /* change to whatever you want */
    left:20%; /* change to whatever you want */
   

}

.subTit{
  font-size: 250%;
  font-weight: 900;
  color:#006699; 
}

.catTit{
   font-size: 150%;
  font-weight: 800;
  color: #EEFFFF;
}

.vv{
  position: relative;
  z-index: 10;
  color: #8A99F5 !important ;
  font-size: small;
}

.vv :not(:first-child) a{
  border-left: 1px dotted #4CA8E5 ; //p3
}

.vertical :not(:last-child) a{
  border-bottom:2px solid rgba(0%,40%,60%,.3) ;
}


.sub-nav{
  padding-top: .8em !important;

 
}


.showGig{

}


.top-bar-section ul li > a{


  font-size: 1rem !important;
}

.sub-nav a:hover{
  
  color: green !important;
 
}
.sub-nav a{
  
/*	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-right: 5px !important;
	padding-left: 0px !important;*/

  padding-right: 1.7em !important;
  padding-left: 0px !important;
  border-bottom: thin solid gray;
}


.f-dropdown li a{

  margin-right: 15px !important;
}

.top-bar-section ul li .ico{
  font-size: x-large;

}





.ww{
    background: white !important;
}




.rr {


    padding-bottom: 40px;
}


.pad_top {


    margin-top: 80px;
}

.meta_p{


    padding-right: 15px;
}


.item img{

    width: 400px;
    height: 200px;
    overflow: hidden;
}



.reveal-modal{
    background-color: hsla(0, 0%, 100%, 0.92);
}


.bord{
  /* box-sizing: border-box;*/
   border:2px solid  rgba(0%,40%,60%,.3); 

   padding: 5px;

   background-color: white; 
   margin-bottom: 10px;
       -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;

  /* padding: 5px;*/
 
}


.bord:hover{
  
   border:2px solid  rgba(5, 66, 66, .6);
  background-color:  #EEFFFF; 
  -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
 
}

.gigg{

    /*border:2px solid  green; */                                           //p2
/* margin: 20px;*/
/* background-color: white;*/


}


/*.gigg :hover{

    background-color: green;  

}
*/
.gigg img{

 margin-top: 0px;
 margin-bottom: 10px;
}


.lastGigg{
 margin-bottom:20px; 


}
.viewMore{

 margin-top: 20px;

}
/*for gig title placeholder


.form_title ::-webkit-input-placeholder { font-size: 18pt; color: #8e898d; }
.form_title::-moz-placeholder { font-size: 18pt; color: #8e898d; }
.form_title:-ms-input-placeholder { font-size: 128pt; color: #8e898d; }
.form_title:-moz-placeholder { font-size: 18pt; color: #8e898d; }

 */
.tty{
  color: #054242;                                                   //p1
  font-size: 270%;
}


.form_title{
    height: 100px;
}



.chartButton{

    border: 2px solid #ccc;

}




/*social buttons */



.split.button {
  width: 100%; }
  .split.button.facebook {
    /*background: #3b5998;*/
    text-transform: uppercase;
     border-color: #3b5998;
    color:#3b5998;
     }
  
      .split.button.facebook span:after {
        border: none;
        font-family: "foundation-icons";
        content: "\f1c4";
        font-size: 2rem;
        line-height: 0.30rem;
        padding-right: 40px;
        vertical-align: middle;


        }
  
  .login a{
    font-size: x-large;
  }

  .logo{
    color:#EEFFFF;
  }
  #exampleModal11{

  }
  .split.button.google {
   /* background: #d50f25;*/
    text-transform: uppercase; 
     color:#d50f25;
     border-color: #d50f25;
       }
  
      .split.button.google span:after {
        border: none;
        font-family: "foundation-icons";
        content: "\f1ca";
        font-size: 2rem;
       padding-right: 40px;
        line-height: 0.30rem;
         vertical-align: middle;

         }
  .split.button.left-icon {
    text-align: right; }
    .split.button.left-icon span {
      left: 0; }



.prefix{


 font-size: xx-large;
 color: #054242;                                              //p1
}

/*footer */


.footer {
  background-color: #006699;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }
  .footer p.slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem; }
  .footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0; }
 



    .footer  i {
  font-size: 4rem; 

}

.footer hr{
  width: 250px;
}

.icon-button {
  border-radius: 5rem;
  width:5rem;
  height: 5rem;
  margin: 35px 25px;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  background: #EEFFFF; }
  .icon-button span {
    display: block;
    border-radius: 0;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 0.3s; }
  .icon-button:hover span {
    display: block;
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    margin: -1.8rem; }
  .icon-button i {
    background: none;
    height: 5rem;
    width: 5rem;
    position: absolute;
    left: 0;
    top: 5px;
    z-index: 10;
    line-height: 5rem;
    transition: all 0.3s; }

.twitter span {
  background-color: #4099ff; }

.facebook span {
  background-color: #3B5998; }

.gplus span {
  background-color: #db5a3c; }

.icon-button .fi-social-twitter {
  color: #4099ff; }

.icon-button .fi-social-facebook {
  color: #3b5998; }

.icon-button .fi-social-google-plus {
  color: #db5a3c; }

.icon-button:hover .fi-social-twitter, .icon-button:hover .fi-social-facebook, .icon-button:hover .fi-social-google-plus {
  color: white;
  font-size: 4rem;
  line-height: 3.9rem; }

.developer{
  padding: 20px;
}

/*registration form*/


.signup-panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 50px;
   margin-bottom: 200px;
  
}
.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
 
}


/*for remember me & forgot pass*/
input.inline, label.inline {
  vertical-align:middle;
  margin-top:0px;
  margin-bottom:0px;
  
}

.forPass{
    font-size: small;
    color: green;

}



/*profile page*/



.browse{
  color:  #EEFFFF;                                                    //p2
}
.buy{
  color: #006699;                                                   //p3
}

.done{
  color:   #054242;                                                 //p1
}

.ProHero{

	background-repeat: no-repeat;
	background-size:  100% 400px;
 


}



.heroText{
	padding-top: 100px;
	padding-bottom: 100px;
	line-height: 40px;
	color: white;

}
.ProName{
	
    font-size: 450%;
    font-weight: 900;
    line-height: 130%;
    color: #EEFFFF; 

}

.about{

  color: #EEFFFF;
}
.ProRate{

    font-weight: bold;
    font-size: large;

}

.ProReview{
	font-weight: bold;
    font-size: large;
    color: grey;
}





.ProHero{
	width: 100%;
	background-repeat: no-repeat;

}


.cont{

  	position: relative;
}

.ProPic{

	position: absolute;
	background-repeat: no-repeat;
	background-size:  100% 100%;
	height: 180px;
	width: 180px;
	border-radius: 25px;
	 border: 3px solid grey;
    left: 20px;
    top: -100px;
    z-index: 2;
}

.ProDetails{
 
    position: absolute;
    left: 0px;
    top: -25px;
    z-index: 1;
    padding-top: 120px;
    
}


.giggs{
	
 	 

}



.giggPadd {

	padding-bottom: 20px;
}


.tredPad{

padding-bottom: 20px;
color: #054242;                                                     //p1

}



.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px; }

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }


  .fileUp{
  	padding-left:34%;
  	padding-top: 20px;
  }
.editEmail{
	padding-bottom:20px; 
}


.info{
	min-height: 75px;
}





/*reviews*/

h2 {
  margin-top: 40px;
  font-weight: 200;
  color: #333;
}

.centered-text {
  text-align: center;
}

.quote-marks {
  font-size: 100px;
  font-family: Garamond;
  color: #777;
}

.move-right {
  position: relative;
  text-align: right;
}

.quote {
  border-radius: 5px;
}

.quote p {
  font-weight: 300;
}

@media only screen and (max-width: 40em) {
  .quote p {
    padding-left: 20px;
  }
}

.student {
  margin-left: 25px;
  margin-bottom: 80px;
}
.student .photo {
  background-color: #ccc;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 15px;
}
.student p {
  position: relative;
  top: 5px;
}
.student p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
.student p:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  color: #777;
}




/*home css*/


.owl-theme{

	position:relative;

}


#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

#owl-gigg .item img{
    display: block;
    width: 100%;
    height: auto;
}
.homeHero{
    position:absolute;
    z-index:3;
    top:15rem; /* change to whatever you want */
    left:25%; /* change to whatever you want */
    width: 50%;
   
}






.feaGigg{

	padding-top: 40px;
}




.giggPanel{
  margin-top: 25px;
  margin-bottom: 25px;
}



/*giggs creation*/

.giggsCr{

  padding-top: 50px;
}

.title input{
  min-height: 80px;
  font-size: large;
}

.tabs dd.active > a, .tabs .tab-title.active > a {
  background-color: #E3F6CE;
}






/*small sccreen only*/


@media screen and (max-width: 40em) {

 


.ProName{
  
    font-size: 100%;
    font-weight: 900;
    line-height: 20%;
 
}


.ProRate{

    font-size: small;
}



}




/* for small and medium screen */
@media screen and (max-width: 63.9375em) {

 
.contact li{
  text-align: left;
  margin-left: 10%;
}

.heroText{
  padding-top: 0px;
  padding-bottom: 80px;
  line-height: 40px;
  color: white;

}


.ProName{
  
    font-size: 170%;
    font-weight: 700;
    line-height: 90%;

}

.homeHero{
   
    top:9rem; /* change to whatever you want */
   
}

}



/*mediam to large*/


@media screen and (min-width: 63.9375em) and (max-width: 74.9375em) {

.wew p{
  text-align: left;
}

.heroText{
  padding-top: 0px;
  padding-bottom: 80px;
  line-height: 40px;
  color: white;

}



.ProName{
  
    font-size: 300%;
    font-weight: 700;
    line-height: 90%;

}

.homeHero{
   
    top:12rem; /* change to whatever you want */
   
}



}




/*large to xlarge*/


@media screen and (min-width: 1200px) and (max-width: 1633px) {
/*
.mainContent{
  top: 620px;
}*/
.homeHero{
   
    top:4rem; /* change to whatever you want */
   
}



}



@media screen and (min-width: 1633px)  {

/*.mainContent{
  top: 30%;
}

*/

}












/*-------------------------------------chat css ------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

/*body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}
*/
.container {
  margin: 30px auto;
  width: 100%;
  background: #444753;
  border-radius: 5px;

}

.people-list {
  width: 30%;
  float: left;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  padding: 20px;
  height: 770px;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}

.chat {
  width: 70%;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}




/*home three section*/

.features {
  text-align: center; }
  .features hr {
    width: 50%;
    margin: 1rem auto; }

    .features h3 {
      color: green;
    }
  .features .round-icon {
    background-color: #054242;
    border-radius: 70%;
    display: table;
    height: 100px;
    margin: -61px auto 1rem;
    width: 100px;
    font-size: 4rem; }
    .features .round-icon span {
      color: #fff;
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  @media only screen and (max-width: 40em) {
    .features .columns {
      margin-bottom: 5rem; } }



/*brand*/

.brand1{
  color: green;

}

.cartItem img{
  height: 120px;
  width: 220px;
   padding-right: 20px;
}

.cartItem p{
  content: "s";
 
}

