
/*

1st color:  #4CA8E5;
2nd color:#8A99F5 ;
3rd color : #FDEECF ;
*/

.fixed{
  background-color: black;
}
.panel{
  background-color: #EEFFFF;                     //p2
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}


.pan{

  background-color: #EEFFFF; 
}

.padTop{
 padding-top: 20px;
}

.padBottom{
 padding-bottom: 20px !important;
}

.top-bar {
    position: relative;
    z-index: 10000;
}


.top-bar li a:hover {
  background: #BBFFBB;                             //p3
  border:1px solid #054242;                        //p1
} 


.uy li a:hover {
  background: #DFFEFE !important;                             //p3
  border:1px solid #054242;                        //p1
} 
.vv li a:hover {
  background: #EEFFFF;                              //p2
  border:1px solid #054242;                        //p1
} 


/*.vv{
   position: relative;
    z-index: 100;
}
.vv :first-child li a {
   
    z-index: 1000 !important;
}
.vv  :not(:first-child) li a{
  
    z-index: 1300 !important;
}
*/
.v1 {
     position: relative;
    z-index: 1300 !important;
}


.v2 {
  position: relative;
    z-index: 130 !important ;
}
.zz li a{
  color:#065234;  //p1
  
}

.topbarPa{
  margin-right: 15px;
}
.contain-to-grid .top-bar {
    min-height: 3.5rem;
    margin: 0 auto;
    padding-top: .5rem;
}


.border{
  border:2px solid #BBFFBB;
   margin-top: 1.7rem;
  padding: 20px;
}

.p1{
  color: #054242;
}

.p2{
   color: #EEFFFF; 
}


.p3{
   color:  #BBFFBB;  
}


.marginBottom{
  margin-bottom: 20px;
}

.checkText{
  font-size: 110%;
  color: grey;

}

.active{
  color: green;
  border-bottom: 2px solid green;
}

.shopCatag{
//  border-right: 1px solid grey;

}
.gigg-social{
  text-align: center;
  font-size: xx-large;
}

.gigg-pro-img {
  height:100px;
  width: 100px;
  margin-bottom: 15px;
  border-radius: 20%;
}


.categoryTitle{
    position: absolute;
    z-index:1003;
    top:17%; /* change to whatever you want */
    left:20%; /* change to whatever you want */
   

}

.subTit{
  font-size: 250%;
  font-weight: 900;
  color:#BBFFBB; 
}

.catTit{
   font-size: 150%;
  font-weight: 800;
  color: #EEFFFF;
}

.vv{
  position: relative;
  z-index: 10;
  color: #8A99F5 !important ;
  font-size: small;
}

.vv :not(:first-child) a{
  border-left: 1px dotted #4CA8E5 ; //p3
}

.vertical :not(:last-child) a{
  border-bottom:1px dotted #4CA8E5 ;
}


.sub-nav{
  padding-top: .8em !important;

 
}


.showGig{

}


.top-bar-section ul li > a{


  font-size: 1rem !important;
}

.sub-nav a:hover{
  
  color: green !important;
 
}
.sub-nav a{
  
/*	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-right: 5px !important;
	padding-left: 0px !important;*/

  padding-right: 1.7em !important;
  padding-left: 0px !important;
  border-bottom: thin solid gray;
}


.f-dropdown li a{

  margin-right: 15px !important;
}

.top-bar-section ul li .ico{
  font-size: x-large;

}





.ww{
    background: white !important;
}




.rr {


    padding-bottom: 40px;
}


.pad_top {


    margin-top: 80px;
}

.meta_p{


    padding-right: 15px;
}


.item img{

    width: 400px;
    height: 200px;
    overflow: hidden;
}



.reveal-modal{
    background-color: hsla(0, 0%, 100%, 0.92);
}


.bord{
  /* box-sizing: border-box;*/
   border:2px solid  #BBFFBB; 

   padding: 5px;

   background-color: white; 
   margin-bottom: 10px;

  /* padding: 5px;*/
 
}


.bord:hover{
  
   border:2px solid  rgba(5, 66, 66, .4);
  background-color:  #EEFFFF; 
 
}

.gigg{

    /*border:2px solid  green; */                                           //p2
/* margin: 20px;*/
/* background-color: white;*/


}


/*.gigg :hover{

    background-color: green;  

}
*/
.gigg img{

 margin-top: 0px;
 margin-bottom: 10px;
}


.lastGigg{
 margin-bottom:20px; 


}
.viewMore{

 margin-top: 20px;

}
/*for gig title placeholder


.form_title ::-webkit-input-placeholder { font-size: 18pt; color: #8e898d; }
.form_title::-moz-placeholder { font-size: 18pt; color: #8e898d; }
.form_title:-ms-input-placeholder { font-size: 128pt; color: #8e898d; }
.form_title:-moz-placeholder { font-size: 18pt; color: #8e898d; }

 */
.tty{
  color: #054242;                                                   //p1
  font-size: 270%;
}


.form_title{
    height: 100px;
}



.chartButton{

    border: 2px solid #ccc;

}




/*social buttons */



.split.button {
  width: 100%; }
  .split.button.facebook {
    /*background: #3b5998;*/
    text-transform: uppercase;
     border-color: #3b5998;
    color:#3b5998;
     }
  
      .split.button.facebook span:after {
        border: none;
        font-family: "foundation-icons";
        content: "\f1c4";
        font-size: 2rem;
        line-height: 0.30rem;
        padding-right: 40px;
        vertical-align: middle;


        }
  
  .login a{
    font-size: x-large;
  }

  #exampleModal11{

  }
  .split.button.google {
   /* background: #d50f25;*/
    text-transform: uppercase; 
     color:#d50f25;
     border-color: #d50f25;
       }
  
      .split.button.google span:after {
        border: none;
        font-family: "foundation-icons";
        content: "\f1ca";
        font-size: 2rem;
       padding-right: 40px;
        line-height: 0.30rem;
         vertical-align: middle;

         }
  .split.button.left-icon {
    text-align: right; }
    .split.button.left-icon span {
      left: 0; }



.prefix{


 font-size: xx-large;
 color: #054242;                                              //p1
}

/*footer */



.footer {
  background-color: #BBFFBB;                                           //p3
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  color:  #054242;                                                      //p1
}


  .footer .inline-list a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0; 
  }
  .footer .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
   
     }
    .footer .contact li {
      margin-bottom: 2rem;
       color: #054242;                            //p1
    }
      .footer .contact li p {
        padding-left: 5rem; 
      }
    .footer .contact i {
      position: absolute;
      background-color:   #EEFFFF;                    //p2
      color: #fff;
      font-size: 2rem;
      border-radius: 50%;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em; }
  .footer .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
 
  .footer .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem; 

  }
    .footer .footer-links a::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem; 
    }
    .footer .footer-links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; 
    }
  @media only screen and (min-width: 40.063em) {
    .footer p {
      text-align: left; }
    .footer .social {
      text-align: left;
      margin: 0; 

    }
    .footer .contact {
      text-align: left; }
      .footer .contact > i {
        margin-right: 1rem; } }




/*registration form*/


.signup-panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 50px;
   margin-bottom: 200px;
  
}
.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
 
}


/*for remember me & forgot pass*/
input.inline, label.inline {
  vertical-align:middle;
  margin-top:0px;
  margin-bottom:0px;
  
}

.forPass{
    font-size: small;
    color: green;

}



/*profile page*/



.browse{
  color:  #EEFFFF;                                                    //p2
}
.buy{
  color: #BBFFBB;                                                   //p3
}

.done{
  color:   #054242;                                                 //p1
}

.ProHero{

	background-repeat: no-repeat;
	background-size:  100% 400px;
 


}



.heroText{
	padding-top: 100px;
	padding-bottom: 100px;
	line-height: 40px;
	color: white;

}
.ProName{
	
    font-size: 450%;
    font-weight: 900;
    line-height: 130%;
    color: #EEFFFF; 

}
.ProRate{

    font-weight: bold;
    font-size: large;

}

.ProReview{
	font-weight: bold;
    font-size: large;
    color: grey;
}





.ProHero{
	width: 100%;
	background-repeat: no-repeat;

}


.cont{

  	position: relative;
}

.ProPic{

	position: absolute;
	background-repeat: no-repeat;
	background-size:  100% 100%;
	height: 180px;
	width: 180px;
	border-radius: 25px;
	 border: 3px solid grey;
    left: 20px;
    top: -100px;
    z-index: 2;
}

.ProDetails{
 
    position: absolute;
    left: 0px;
    top: -25px;
    z-index: 1;
    padding-top: 120px;
    
}


.giggs{
	
 	 

}



.giggPadd {

	padding-bottom: 20px;
}


.tredPad{

padding-bottom: 20px;
color: #054242;                                                     //p1

}



.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px; }

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }


  .fileUp{
  	padding-left:34%;
  	padding-top: 20px;
  }
.editEmail{
	padding-bottom:20px; 
}


.info{
	min-height: 75px;
}





/*reviews*/

h2 {
  margin-top: 40px;
  font-weight: 200;
  color: #333;
}

.centered-text {
  text-align: center;
}

.quote-marks {
  font-size: 100px;
  font-family: Garamond;
  color: #777;
}

.move-right {
  position: relative;
  text-align: right;
}

.quote {
  border-radius: 5px;
}

.quote p {
  font-weight: 300;
}

@media only screen and (max-width: 40em) {
  .quote p {
    padding-left: 20px;
  }
}

.student {
  margin-left: 25px;
  margin-bottom: 80px;
}
.student .photo {
  background-color: #ccc;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 15px;
}
.student p {
  position: relative;
  top: 5px;
}
.student p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
.student p:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  color: #777;
}




/*home css*/


.owl-theme{

	position:relative;

}


#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

#owl-gigg .item img{
    display: block;
    width: 100%;
    height: auto;
}
.homeHero{
    position:absolute;
    z-index:3;
    top:15rem; /* change to whatever you want */
    left:25%; /* change to whatever you want */
    width: 50%;
   
}






.feaGigg{

	padding-top: 40px;
}




.giggPanel{
  margin-top: 25px;
  margin-bottom: 25px;
}



/*giggs creation*/

.giggsCr{

  padding-top: 50px;
}

.title input{
  min-height: 80px;
  font-size: large;
}

.tabs dd.active > a, .tabs .tab-title.active > a {
  background-color: #E3F6CE;
}



/* for small and medium screen */
@media screen and (max-width: 63.9375em) {

 

.heroText{
  padding-top: 0px;
  padding-bottom: 80px;
  line-height: 40px;
  color: white;

}





.ProName{
  
    font-size: 170%;
    font-weight: 700;
    line-height: 90%;

}

.homeHero{
   
    top:9rem; /* change to whatever you want */
   
}





}




/*small sccreen only*/


@media screen and (max-width: 40em) {

 



.ProName{
  
    font-size: 100%;
    font-weight: 900;
    line-height: 20%;
 
}


.ProRate{

    font-size: small;
}



}






/*mediam to large*/


@media screen and (min-width: 63.9375em) and (max-width: 74.9375em) {



.heroText{
  padding-top: 0px;
  padding-bottom: 80px;
  line-height: 40px;
  color: white;

}





.ProName{
  
    font-size: 300%;
    font-weight: 700;
    line-height: 90%;

}

.homeHero{
   
    top:12rem; /* change to whatever you want */
   
}



}




/*large to xlarge*/


@media screen and (min-width: 1200px) and (max-width: 1633px) {


.homeHero{
   
    top:4rem; /* change to whatever you want */
   
}



}















/*gigg hover effects*/


/*.service {
  
  

  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
  .service .service-icon-box {
 
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
     }
  .service .service-heading {
    position: relative;
    ;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
 
  .service .service-icon-box > img.service-icon {
    }
  .service:hover {
      
       cursor: pointer;
     }
  .service:hover .service-icon-box {
    top: 0px; }
  .service:hover .service-heading {
    top: 0px; }
*/

    /*hover ends*/