.rr {


    padding-bottom: 40px;
}


.pad_top {


    padding-top: 40px;
}

.meta_p{


    padding-right: 15px;
}


.item img{

    width: 400px;
    height: 200px;
    overflow: hidden;
}





/*for gig title placeholder


.form_title ::-webkit-input-placeholder { font-size: 18pt; color: #8e898d; }
.form_title::-moz-placeholder { font-size: 18pt; color: #8e898d; }
.form_title:-ms-input-placeholder { font-size: 128pt; color: #8e898d; }
.form_title:-moz-placeholder { font-size: 18pt; color: #8e898d; }

 */

.form_title{
    height: 100px;
}



.chartButton{

    border: 2px solid #ccc;

}




/*social buttons */



.split.button {
  width: 100%; }
  .split.button.facebook {
    background: #3b5998;
    text-transform: uppercase; }
    .split.button.facebook span {
      background: #2d4373; }
      .split.button.facebook span:after {
        border: none;
        font-family: "foundation-icons";
        content: "\f1c4";
        font-size: 2rem;
        line-height: 0.25rem;
        margin-left: -0.7rem; }
  
  .split.button.google {
    background: #d50f25;
    text-transform: uppercase; }
    .split.button.google span {
      background: #a50c1d; }
      .split.button.google span:after {
        border: none;
        font-family: "foundation-icons";
        content: "\f1ca";
        font-size: 2rem;
        line-height: 0.25rem;
        margin-left: -0.7rem; }
  .split.button.left-icon {
    text-align: right; }
    .split.button.left-icon span {
      left: 0; }



/*footer */



.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }
  .footer .inline-list a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0; }
  .footer .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: #fff; }
    .footer .contact li {
      margin-bottom: 2rem; }
      .footer .contact li p {
        padding-left: 5rem; }
    .footer .contact i {
      position: absolute;
      background-color: #33383b;
      color: #fff;
      font-size: 2rem;
      border-radius: 50%;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em; }
  .footer .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
  .footer .about {
    color: #92999f;
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
  .footer .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem; }
    .footer .footer-links a::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem; }
    .footer .footer-links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }
  @media only screen and (min-width: 40.063em) {
    .footer p {
      text-align: left; }
    .footer .social {
      text-align: left;
      margin: 0; }
    .footer .contact {
      text-align: left; }
      .footer .contact > i {
        margin-right: 1rem; } }




/*registration form*/


.signup-panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 50px;
   margin-bottom: 300px;
  
}
.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
 
}



input.inline, label.inline {
  vertical-align:middle;
   margin-top:0px;
  margin-bottom:0px;
  
}

.forPass{
margin-top: 13px;

}